*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1-container h1{
    font-size: 35px;
    border: 1px solid #000;
    padding: 10px;

}
.h1-container{
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    width: 80%;
}

.links-container{
    height: 80vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    width: 40%;
    border: 2px solid #000;
}

ul li a{
    font-size: 18px;
}

ul li{
    margin: 50px auto;
}

body{
    background-color: rgb(246, 235, 222);
}